body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}


.card-container {
    display: flex;
    gap: 30px;
    padding: 20px;
    
    border: 4px solid #120707; 
    background-color: white; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.member-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 30px; 
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); 
    transition: transform 0.2s; 
    width: 200px; 
}


.circle {
    width: 80px;
    height: 80px;
    background-color: #007bff; 
    color: white;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto 20px auto; 
}

.details {
    line-height: 1.4;
}

.name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

.info {
    font-size: 14px;
    color: #666;
    margin: 3px 0;
}